/* 
==================================
FONTS
==================================
 */

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

/* 
==================================
VARIABLES
==================================
 */

:root {
  --transition: all 0.3s linear;
  --spacing: 0.3rem;
  --radius: 0.5rem;
  --maxWidth: 1120px;
  --fixedWidth: 600px;
  --clr-white: #fff;
  --clr-orange: #ffc13e;
  --dark-orange: #bd860f;
  --clr-lightBlack: #1b1b1b;
  --clr-crimson: crimson;
  --clr-black: #000000;
  /* primary color */
  --primary-10: #f7eeea;
  --primary-20: #e1b6a8;
  --primary-30: #c26942;
  --primary-40: #d18f71;
  --primary-50: #b34413;
  --primary-60: #8f360f;
  --primary-70: #6b290b;
  --primary-80: #481b08;
  --primary-90: #240e04;

  --blue-gray-1: #1d2642;
  --blue-gray-2: #131b3d;
  --blue-gray-3: #afafaf;

  /* darker shades of primary color */
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);

  /* lighter shades of primary color */
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  --clr-primary-5: hsl(42, 78%, 60%);
  /* grey color used for paragraphs */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-10: hsl(210, 36%, 96%);
  /* box shadow */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --ff-links: "Playfair Display", serif;
  --ff-name: "Old Standard TT", serif;
  --ff-name-2: "Abril Fatface", cursive;
  --ff-body: "Montserrat", sans-serif;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
}

/* ====================
GLOBAL STYLES
=======================
 */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 0.875rem;
  background-color: var(--clr-white);
  font-family: var(--ff-secondary);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

.btn,
.btn-light {
  border: 2px solid transparent;
  display: inline-block;
  font-weight: 500;
  transition: var(--transition);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  letter-spacing: var(--spacing);
  padding: 0.4rem 0.75rem;
  text-transform: capitalize;
}

.btn-light {
  background: var(--primary-10);
  color: var(--primary-50);
  margin-bottom: 1rem;
}
.btn {
  background: var(--primary-50);
  color: var(--clr-white);
  box-shadow: var(--dark-shadow);
}
.btn:hover {
  background: var(--primary-30);
}
.section-title {
  margin-bottom: 1rem;
  color: var(--clr-grey-1);
}

.section-title span {
  color: var(--primary-50);
}
.section {
  width: 90vw;
  max-width: 1170px;
  margin: 4rem auto;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.section-padding {
  padding: 5rem 0;
}

/*
=============== 
Navbar
===============
*/

.nav-links {
  display: none;
}

.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: var(--transition);
  background-color: white;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.nav-header h4 {
  color: var(--blue-gray-1);
  font-size: 0.7rem;
  font-weight: bold;
}
.nav-header span {
  color: var(--primary-50);
  font-size: 0.7rem;
  font-weight: bold;
}

.nav-btn {
  background-color: transparent;
  border-color: transparent;
  color: var(--primary-50);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}

/* fixed navbar */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 2;
  box-shadow: var(--light-shadow);
  opacity: 1;
}
/*
=============== 
Sidebar
===============
*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  z-index: 4;
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateX(-100%);
}
.show-sidebar {
  transform: translateX(0);
}

.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}
.sidebar-links a:hover {
  color: var(--clr-primary-5);
}

.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 20rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clr-primary-5);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  transition: var(--transition);
  color: #bb2525;
  cursor: pointer;
}

.close-btn:hover {
  color: #e66b6b;
}

/*
=============== 
Hero
===============
*/

.hero-img {
  display: none;
}
.hero {
  background-color: transparent;
}
.hero-center {
  display: grid;
  place-items: center;
}

.hero-info h4 {
  color: var(--blue-gray-1);
  font-size: 1.3rem;
}
.hero-info-p {
  color: var(--blue-gray-2);
  font-weight: 800;
}

.hero-icons {
  justify-items: start;
}

.hero-btn {
  margin-top: 1.25rem;
}

.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}

.social-icons {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.social-icon,
.active {
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  transition: var(--transition);
}
.social-icon {
  color: var(--blue-gray-1);
}
.active {
  background: var(--primary-50);
  color: var(--clr-white);
  display: grid;
  place-items: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.social-icon:hover {
  color: var(--primary-60);
}

/* =============
ABOUT
================ */

.about-info {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about-info h2 {
  margin: 0;
}
.about-info h4 {
  font-size: 0.87rem;
  letter-spacing: 0;
  margin-top: 0.5rem;
  color: var(--clr-grey-1);
}

/* 
=================
SERVICES
=================
 */

.section-services {
  background: var(--clr-grey-10);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.service {
  background: var(--clr-white);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
}
.service-title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.underline {
  height: 0.12rem;
  width: 3rem;
  margin: 0.6rem 0;
  background-color: var(--primary-50);
  margin-left: auto;
  margin-right: auto;
  transition: var(--transition);
}
.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service p {
  transition: var(--transition);
}
.service:hover {
  background: var(--primary-50);
  color: var(--clr-white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.service:hover p {
  color: var(--clr-white);
}
.service .underline:hover {
  background-color: var(--clr-white);
}

.wave {
  display: inline-block;
  -webkit-animation: wave-hand 2.5s infinite;
  animation: wave-hand 2.5s infinite;
  transform-origin: 70% 70%;
}

.free-lancer {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}
#return-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 4;
  display: inline-block;
  -webkit-animation: bounce 2s ease-in-out infinite;
  animation: bounce 2s ease-in-out infinite;
}
#return-to-top a {
  outline: 0;
  cursor: pointer;
}
#return-to-top i {
  color: var(--clr-white);
  margin: 0;
  position: relative;
  left: 12px;
  top: 12px;
  font-size: 1.2rem;
}
#return-to-top:hover {
  background-color: var(--primary-50);
}

/* 
=================
CONTACT
=================
 */

.contact-section {
  min-height: 30vh;
  display: grid;
  place-items: center;
}

.form-title {
  margin-top: 1rem;
  font-family: "Abril Fatface", cursive;
  font-size: 2.1rem;
  color: var(--blue-gray-1);
  letter-spacing: 0.5;
}
.subscribe {
  font-size: 0.8rem;
}

.form {
  width: 90vw;
  max-width: var(--fixedWidth);
  background: var(--clr-white);
  padding: 2rem;
  margin: 0 auto;
}

.form-label {
  display: block;
  text-transform: capitalize;
  text-align: start;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea,
.newsletter-input {
  margin: 0.5rem 0;
  width: 100%;
  padding: 0.8rem 0.5rem;
  border: 1px solid var(--blue-gray-1);
  background: var(--clr-white);
  border-radius: 5px;
}
.newsletter-container {
  position: relative;
}
.newsletter-input {
  display: inline-block;
}

.form-btn {
  margin-top: 1rem;
}
.newsletter-icon {
  height: 2rem;
  width: 2rem;
  border-radius: var(--radius);
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  background: var(--primary-50);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: var(--dark-shadow);
  position: absolute;
  top: 12px;
  right: 20px;
}

/* 
=================
SKILLS
=================
 */

.skills-center {
  max-width: 80vw;
  margin: 0 auto;
}
.skills {
  background: var(--primary-10);
}

.skill {
  margin-bottom: 1.2rem;
}

.skill p {
  margin: 0.7rem 0;
  text-transform: capitalize;
  color: var(--blue-gray-2);
}

.skill-container {
  background: var(--clr-white);
  height: 1rem;
  width: 100%;
  border-radius: var(--radius);
  position: relative;
}

.skill-value {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary-40);
  height: 100%;
  width: 80%;
  border-radius: var(--radius);
}

.value-70 {
  width: 70%;
}
.value-40 {
  width: 40%;
}
.value-30 {
  width: 30%;
}
.value-80 {
  width: 80%;
}

.skill-text {
  position: absolute;
  top: -2rem;
  left: 80%;
  transform: translateX(-80%);
}
.skill-text-70 {
  left: 70%;
}
.skill-text-40 {
  left: 40%;
}
.skill-text-30 {
  left: 30%;
}
.skill-text-80 {
  left: 80%;
}

/* 
=================
PROJECTS
=================
 */

.project {
  position: relative;
  background: var(--primary-50);
  border-radius: var(--radius);
  margin-bottom: 2rem;
  transition: var(--transition);
}

.project-info {
  text-align: center;
  color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  opacity: 0;
}

.project:hover .project-info {
  opacity: 1;
}
.project-img {
  transition: var(--transition);
  border-radius: var(--radius);
  height: 15rem;
  object-fit: cover;
}

.project-info h4 {
  font-size: 1.4rem;
}

.more-button {
  font-size: 20px;
  color: #fff;
  display: block;
  background: var(--primary-40);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  line-height: 42px;
  text-align: center;
  position: absolute;
  left: -2rem;
  bottom: -2rem;
  opacity: 0;
  border: none;
  transition: var(--transition);
  cursor: pointer;
}

.project:hover .project-img {
  opacity: 0.1;
}

/* .project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-white);
  border-radius: var(--radius);
  transition: var(--transition);
  opacity: 0;
}

.project:hover::after {
  opacity: 1;
  transform: scale(0.8);
} */

.project:hover .more-button {
  opacity: 1;
}

.modal {
  visibility: hidden;
  position: fixed;
  z-index: -5;
  left: 0;
  top: 0;
  width: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  transition: var(--transition);
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
}
.open-modal {
  visibility: visible;
  z-index: 5;
}
.modal-content {
  background: var(--clr-primary-10);
  border-radius: var(--radius);
  display: grid;
  place-items: center;
  border: var(--clr-primary-4);
  width: 90vw;
  height: 100vh;
  padding: 3rem;
  position: relative;
}
.modal-content h3 {
  margin-top: 0.8rem;
}

.modal-photo1 {
  height: 27rem;
}

.modal-content p {
  font-size: 1.2rem;
}

.close-btn {
  color: hsl(360, 67%, 44%);
  border: none;
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  right: 3rem;
  top: 0;
  transition: var(--transition);
  cursor: pointer;
}
.close-btn:hover {
  color: hsl(360, 71%, 66%);
  transform: scale(1.3);
}

.live-btn {
  padding: 1rem;
}
.live-btn a {
  color: var(--clr-white);
}

/* 
=================
EXPERIENCE
=================
 */

.experience-center {
  width: 80vw;
  max-width: 40rem;
}

.experience-item {
  border-top: 2px dashed var(--primary-30);
  margin: 0;
  padding: 4rem 2rem;
  position: relative;
}

.experience h5 {
  margin-bottom: 0.5rem;
  color: var(--blue-gray-1);
  font-size: 0.9rem;
}

.experience p {
  margin-bottom: 0;
}

.experience-item:nth-child(even) {
  border-left: 2px dashed var(--primary-30);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 2rem;
  padding-right: 0;
}
.experience-item:nth-child(odd) {
  border-right: 2px dashed var(--primary-30);
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}

.experience-item:first-child {
  border-top: 0;
  border-top-right-radius: 0;
}
.experience-item:last-child {
  border-bottom-left-radius: 0;
}

.grad-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  background: var(--primary-50);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--primary-20);
  font-size: 1.5rem;
  font-weight: bold;
}

.experience-item:nth-child(even) .grad-icon {
  left: 0;
}
.experience-item:nth-child(odd) .grad-icon {
  right: 0;
  transform: translate(50%, -50%);
}
.blog {
  display: none;
}

/* 
=================
FOOTER
=================
 */

.footer {
  background: var(--blue-gray-1);
  padding-bottom: 2rem;
  display: grid;
  place-items: center;
}

.footer .social-icons {
  margin-bottom: 2rem;
}

.footer .social-icon {
  margin-right: 2rem;
  color: var(--clr-primary-5);
}

.footer p {
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--clr-white);
  text-align: center;
  width: 80vw;
}

.footer .social-icon {
  color: var(--primary-20);
}
.footer .social-icon:hover {
  color: var(--clr-primary-10);
}
.star {
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 0.9rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  body {
    font-size: 1rem;
  }

  .section {
    width: 95vw;
  }

  .nav-btn {
    display: none;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    column-gap: 2rem;
    justify-self: end;
  }

  .nav-links a {
    text-transform: capitalize;
    color: var(--blue-gray-1);
    font-weight: bold;
    transition: var(--transition);
    letter-spacing: var(--spacing);
  }
  .nav-header h4 {
    font-size: 1rem;
  }
  .nav-header span {
    font-size: 1rem;
  }

  .nav-links a:hover {
    color: var(--primary-50);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .hero-img {
    display: block;
    position: relative;
  }

  .hero-center {
    min-height: calc(100vh - 5rem);
    grid-template-columns: 1fr 1fr;
  }

  .hero-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--primary-50);
    top: 2rem;
    right: -2rem;
    border-radius: var(--radius);
  }

  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 2rem;
  }

  .skills-center {
    max-width: 65vw;
  }

  .form-controls input {
    width: 15rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .form-controls textarea {
    display: block;
    margin: 1.5rem auto;
    width: 90%;
  }

  /*
=============== 
Blog
===============
*/

  .blog {
    background: transparent;
    margin-bottom: 8rem;
    display: block;
  }
  .card {
    height: 27rem;
    position: relative;
    perspective: 1500px;
  }

  .card-side {
    transition: all 2s linear;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
  }
  .card-front {
    background: var(--clr-white);
  }

  .card-back {
    background: var(--primary-10);
    transform: rotateY(180deg);
    display: grid;
    place-items: center;
  }

  .card:hover .card-front {
    transform: rotateY(-180deg);
  }

  .card:hover .card-back {
    transform: rotateY(0);
  }

  .class-info {
    padding: 1rem 1.5rem;
  }

  .card-front img {
    height: 13rem;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }

  .card-footer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .card-footer p {
    margin-bottom: 0;
    text-transform: uppercase;
    justify-self: end;
    color: var(--primary-30);
    font-size: 0.85rem;
  }
  .card-footer img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
  }

  .blog-center {
    display: grid;
    gap: 3rem 1rem;
    margin-top: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1170px) {
  .about-photo {
    height: 33rem;
    border-radius: var(--radius);
  }

  .about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .about-img,
  .about-info {
    flex: 0 0 calc(46% - 2rem);
    margin-bottom: 0;
    align-self: center;
  }
  .about-img {
    position: relative;
  }

  .about-photo {
    position: relative;
  }

  .about-img::before {
    content: "";
    position: absolute;
    border: 0.25rem solid var(--primary-50);
    width: 100%;
    height: 100%;
    top: 2rem;
    left: -2rem;
    border-radius: var(--radius);
  }

  .about-info {
    text-align: left;
  }
  .services-center {
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-center {
    grid-template-rows: 200px 200px;
    grid-template-areas:
      "a b b"
      "a c d";
    gap: 1rem;
  }
  .project-img {
    height: 100%;
  }

  .project {
    height: 100%;
  }

  .project-1 {
    grid-area: a;
  }

  .project-2 {
    grid-area: b;
  }
  .project-3 {
    grid-area: c;
  }
  .project-4 {
    grid-area: d;
  }
}

/* 
==============
Animation
==============
 */

@-webkit-keyframes text-reveal-box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text-reveal-box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes text-reveal {
  100% {
    color: var(--clr-white);
  }
}

@keyframes text-reveal {
  100% {
    color: var(--clr-white);
  }
}
@-webkit-keyframes text-reveal-name {
  100% {
    color: var(--clr-primary-5);
    font-weight: 500;
  }
}
@keyframes text-reveal-name {
  100% {
    color: var(--clr-primary-5);
    font-weight: 500;
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes wave-hand {
  0% {
    transform: rotate(0.06deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wave-hand {
  0% {
    transform: rotate(0.06deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
